/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:wght@600&family=Urbanist&display=swap");

/* Colors */
:root {
  --text-color: #232832;
  --primary-color: #874fee;
  --warning-color: #e7576f;
  --succes-color: #4fe48f;
  --neutral-color: #fefeff;
}

/* Global Styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 15px;
}

body {
  font-family: "Urbanist", sans-serif;
  background-color: var(--primary-color);
  color: var(--neutral-color);
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  width: 50%;
}

h1 {
  font-size: 4rem;
  font-family: "Lora", serif;
  margin: 1rem 0;
  line-height: 1.5;
}

input {
  min-width: 80%;
  padding: 1rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

/* Search Results */
.result {
  position: relative;
  margin: 0 auto;
  width: 50%;
}

.suggestions {
  position: relative;
  margin-top: 10px;
  padding: 1rem;
  text-align: left;
  min-width: 50%;
  background-color: var(--neutral-color);
  color: var(--text-color);
  border-radius: 10px;
  box-shadow: 0px 15px 25px -4px rgba(30, 30, 60, 0.25);
}

.suggestions h2 {
  letter-spacing: 3px;
  font-family: "Abril Fatface", cursive;
  font-size: 2rem;
  margin-bottom: 10px;
}

.suggestions small {
  color: var(--warning-color);
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
}

.suggestions p {
  margin-top: 10px;
  line-height: 1.5;
  letter-spacing: 1px;
}

.suggestions p > span {
  padding: 2px;
  background-color: var(--text-color);
  color: var(--neutral-color);
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 5px;
}

.suggestions p:nth-child(even) {
  margin-top: 1rem;
  display: inline-block;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--succes-color);
  font-style: italic;
  font-weight: bolder;
  border-radius: 5px;
}
